extends ../../layout

include ../../mixins/_userAccountForm

block content
	.inner
		h1 #{title}

		+userAccountForm(user)

		.pending-invites
			h2 My Invites
			for request in user.requests
				.pending-invites__invite(class=`pending-invites__invite--${request.status}`)
					.name #{request.team.name}
					.status #{request.status}