extends ../../layout

include ../../mixins/_banner

block content
	.inner
		h1 #{title}

		+banner(team.photo)

		.team-members
			h2 Team Members
			for member in team.members
				.team-members__member
					name #{member.username}
					role #{member.teamRole}


		form.form(action=`/teams/apply/${team.slug}` method="POST")
			input(class="button" type="submit" value=" Join This team")
