extends ../../layout

include ../../mixins/_pagination

block content
	.inner
		h1 #{title}
		.teams
			if user
				if !user.team
					a(href="/teams/create") Create A team
				if user.team
					a(href=`/teams/${team.slug}`) View your team
			each team in teams
				.team
					.team__meta
						.team__title
							if team.slug
								a.link-mask(href=`/teams/${team.slug}`) #{team.name}
		+pagination(page, pages, count)
