mixin searchTeams()
	.search.search--teams
		form.form(action="/api/v1/search/teams" method="POST")
			label(for="search")
				input(type="text" class="search__input" name="search" placeholder="search")
			input(type="submit" value="Search")
		.search__results