extends ../../layout

block content
	.inner
		h1 #{title}
		.events
			each event in events
				.event
					.event__wrapper
						.event__title #{event.title}
						.event__content #{event.description}