mixin passwordResetForm()
	form.form(action="/account/reset" method="POST")
		h2 Reset Password
		label(for="password") New Password
		input(type="password" name="password")
		label(for="confirm-password") Confirm Password
		input(type="password" name="confirm-password")