.form {
	background: white;
	padding: 2rem;
	box-shadow: 0 5px 10px rgba(0,0,0, 0.6);

	& + .form {
		margin-top: 4rem;
	}

	input, textarea {
		width: 100%;
		padding: 10px;

		&.input {
			&--error {
				border-color: red;
			}
		}

		&[type="submit"] {
			@extend %button;
		}
	}

	label {
		display: block;
		padding: 10px 0;
	}

	h2 {
		margin: 0;
		font-size: 2rem;
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		border-bottom: 1px solid #ccc;
	}
}
