.two-col {
	display: flex;
	flex-flow: row wrap;

	&__col {
		&--left,
		&--right {
			flex-basis: 50%;
		}

		&--left {
			border: 1px solid red;
		}
		&--right {
			border: 1px solid green;
		}
	}
}